<div class="protfolio  py-5">
     <div class="container">
          <div class="protfolio-content">
               <p class="titel">PROTFOLIO</p>
               <div class="star">
                    <span class="line1"></span>
                    <i class="fas fa-star"></i>
                    <span class="line1"></span>
               </div>
               <div class="row my-4 align-items-center justify-content-around">
                    <div class="col-md-4">
                         <img src="../../assets/cabin.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-4">
                         <img src="../../assets/cake.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-4">
                         <img src="../../assets/circus.png" class="img-fluid" alt="">
                    </div>
               </div>
               <div class="row my-4 align-items-center justify-content-around">
                    <div class="col-md-4">
                         <img src="../../assets/game.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-4">
                         <img src="../../assets/safe.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-4">
                         <img src="../../assets/submarine.png" class="img-fluid" alt="">
                    </div>
               </div>
          </div>
     </div>
</div>