<div class="contact vh-100">
     <div class="container">
          <div class="contact-content">
               <h2 class="titel">CONTACT</h2>
               <div class="star">
                    <span class="line1"></span>
                    <i class="fas fa-star"></i>
                    <span class="line1"></span>
               </div>
          </div>
          <div class="row justify-content-center align-items-center flex-column">
               <div class="col-md-8">
                    <div class="form-group">
                         <input type="text" placeholder="N A M E" class="form-control">
                    </div>
               </div>
               <div class="col-md-8 mt-3">
                    <div class="form-group">
                         <input type="email" placeholder="E M A I L" class="form-control">
                    </div>
               </div>
               <div class="col-md-8 mt-3">
                    <div class="form-group">
                         <input type="number" placeholder="P H O N E &nbsp; N U M B E R" class="form-control">
                    </div>
               </div>
               <div class="col-md-8 mt-3">
                    <div class="form-group">
                         <textarea placeholder="M E S S A G E " class="form-control" ></textarea>
                    </div>
               </div>
               <button type="submit" class="btn my-4">Send</button>
          </div>
     </div>
</div>