<div class="home pt-5">
     <div class="container">
          <div class="home-content">
               <img src="../../assets/avataaars.svg" class="w-25" alt="">
               <p class="titel">START ANGULER</p>
               <div class="star">
                    <span class="line1"></span>
                    <i class="fas fa-star"></i>
                    <span class="line1"></span>
               </div>
               <p class="des pt-3">Front End Devolper - Web Designer</p>
               
          </div>
     </div>
</div>